@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
}

html {
  position: absolute;
}

img {
  width: 100%;
}

button {
  background: none;
  border: none;
}

.main-page {
  min-height: 100vh;
}

/* .container-fluid {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 100%;
} */

.map {
  background-image: url("../../../../assets/main-page/GrassMaze.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 20rem;
  /* min-height: 100vh; */
}

.interface {
  background-image: url("../../../../assets/main-page/GrassBackGround.png");
  background-color: rgb(69, 100, 92);
  background-size: cover;
  width: 100%;
  padding: 10px;
}

.interface__form {
  text-align: center;
  border: solid 2px #5ca463;

  margin-top: 0px;
  height: 250px;
  padding-top: 5px;
  height: 100%;
}

.gate-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.houses {
  padding-bottom: 5rem;
}

.gate-image-container {
  width: 20%;
  height: 20%;
  cursor: pointer;
}

.gate-image-container img {
  width: 100%;
  height: 100%;
}

.house-image-container {
  cursor: pointer;
}

.house-image-container img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 300px) {
  .houses {
    padding-top: 22rem;
  }
  .gate-container {
    top: 32%;
  }
  .gate-image-container {
    width: 80%;
    height: 80%;
  }
}

@media screen and (min-width: 301px) and (max-width: 576px) {
  .houses {
    padding-top: 28rem;
  }
  .gate-container {
    top: 32%;
  }
  .gate-image-container {
    width: 80%;
    height: 80%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .houses {
    padding-top: 28rem;
  }
  .gate-container {
    top: 30%;
  }
  .gate-image-container {
    width: 60%;
    height: 60%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .houses {
    padding-top: 28rem;
  }
  .gate-container {
    top: 30%;
  }
  .gate-image-container {
    width: 55%;
    height: 55%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .houses {
    padding-top: 28rem;
  }
  .gate-container {
    top: 30%;
  }
  .gate-image-container {
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 1201px) {
  .houses {
    padding-top: 30rem;
  }
  .gate-container {
    top: 25%;
  }
  .gate-image-container {
    width: 30%;
    height: 30%;
  }
  .arrows {
    left: 95%;
  }
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;

  /* margin-left: -30px;
  bottom: 20px; */
}

.arrows path {
  stroke: red;
  fill: transparent;
  stroke-width: 5px;
  animation: arrow 3.5s infinite;
  -webkit-animation: arrow 3.5s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

@media screen and (min-width: 760px) and (max-width: 1100px) {
  .interface__form {
    display: flex;
    flex-direction: column;
    width: 50%;

  }
  .interface__form--objects {
    display: flex;
    flex-direction: column;
    width: 50%;

  }

}