@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
}

html {
  position: absolute;
}

img {
  width: 100%;
}

button {
  background: none;
  border: none;
}

.main-page {
  max-height: 100vh;
  overflow: none;
}

/* .container-fluid {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 100%;
} */

.map {
  background-image: url("../../../../assets/main-page/GrassMaze.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.interface {
  background-image: url("../../../../assets/main-page/GrassBackGround.png");
  background-color: rgb(69, 100, 92);

  background-size: cover;
  width: 100%;
  padding: 10px;
}

.interface__form {
  text-align: center;
  border: solid 2px #5ca463;
  grid-column: span 3;
  margin-top: 0px;
  height: 250px;
  padding-top: 5px;
  height: 100%;
}

.gate {
}

.gate-image-container {
  width: 20%;
  height: 20%;
  margin: 20%;
}

.gate-image-container img {
  width: 100%;
  height: 100%;
}

/* .interface__img {
  height: 80px;
} */

/* .map__form--maison {
  grid-column: 1 / span 4;
  grid-row: 4 / span 7;
}

.map__form--maison2 {
  grid-column: 5 / span 4;
  grid-row: 5 / span 7;
}

.map__form--maison3 {
  grid-column: 8 / span 4;
  grid-row: 5 / span 7;
}

.map__form--gate {
  grid-column: 10 / span 4;
  grid-row: 2 / span 7;
}

.map__image--gate {
  height: 330px;
}

.map__image--maison {
  height: 330px;
}

.map__image--maison2 {
  height: 230px;
}

.map__image--maison3 {
  height: 330px;
}

.interface__form--objects {
  grid-column: 4 / span 8;
} */
