<main class="container-fluid row w-100">
    <div class="map col-12">
        
        <form class="map__form map__form--maison" action="">
            <button class="map__button"><span class="fs-4 fw-bold text-light bg-dark rounded">Weapon Shop</span><img class="map__image map__image--maison" src="../../../../assets/main-page/Maison1.png"
                    alt=""></button>
        </form>
        <form class="map__form map__form--maison2" action="">
            <button class="map__button"><span class="fs-4 fw-bold text-light bg-dark rounded">Armor Shop</span><img class="map__image map__image--maison2" src="../../../../assets/main-page/Maison2.png"
                    alt=""></button>
        </form>
        <form class="map__form map__form--maison3 ms-5" action="">
            <button class="map__button"><span class="fs-4 fw-bold text-light bg-dark rounded">Potion Shop</span><img class="map__image map__image--maison3" src="../../../../assets/main-page/Maison3.png"
                    alt=""></button>
        </form>
        <form class="map__form map__form--gate" action="">
            
            <button class="map__button"><span class="fs-4 fw-bold text-light bg-danger rounded">Combat Zone</span><img class="map__image map__image--gate" src="../../../../assets/main-page/portail.png"
                    alt=""></button>
        </form>
    </div>
    <div class="interface">
        <!-- Partie de gauche  Je veux afficher la photo du Player + Stats -->
        <form class="interface__form" action="">
            <app-player-card class="mt-5"></app-player-card>
            <button class="interface__button interface__button--">
                <img class="interface__img" src="../../../../assets/main-page/Inventaire.png" alt="Player">
                <p class="interface__text">Player</p>
            </button>
        </form>
        <!--  Partie de Droite je veux afficher les Item dispo => Potion , Weapon et armor -->
        <form class="interface__form interface__form--objects" action="">
            <button class="interface__button interface__button--">
                <p class="interface__text">Inventaire</p>
                <img src="" alt="">
                <p></p>
            </button>
        </form>
    </div>
</main>