<main class="container">
    <div class="map">
        <form class="map__form map__form--maison" action="">
            <button class="map__button"><img class="map__image map__image--maison" src="../../../../assets/main-page/Maison1.png"
                    alt=""></button>
        </form>
        <form class="map__form map__form--maison2" action="">
            <button class="map__button"><img class="map__image map__image--maison2" src="../../../../assets/main-page/Maison2.png"
                    alt=""></button>
        </form>
        <form class="map__form map__form--maison3" action="">
            <button class="map__button"><img class="map__image map__image--maison3" src="../../../../assets/main-page/Maison3.png"
                    alt=""></button>
        </form>
        <form class="map__form map__form--gate" action="">
            <button class="map__button"><img class="map__image map__image--gate" src="../../../../assets/main-page/portail.png"
                    alt=""></button>
        </form>
    </div>
    <div class="interface">
        <!-- Partie de gauche  Je veux afficher la photo du Player + Stats -->
        <form class="interface__form" action="">
            <button class="interface__button interface__button--">
                <img class="interface__img" src="../../../../assets/main-page/Inventaire.png" alt="inventaire">
                <p class="interface__text">Inventaire</p>
            </button>
        </form>
        <!--  Partie de Droite je veux afficher les Item dispo => Potion , Weapon et armor -->
        <form class="interface__form interface__form--objects" action="">
            <button class="interface__button interface__button--">
                <img src="" alt="">
                <p></p>
            </button>
        </form>
    </div>
</main>