<!-- =============Modal=============== -->
<div class="myModal hidden text-center" ngClass="" #modal>
  <div class="">
    <div class="image-container mx-auto" *ngIf="playerIsAlive">
      <img [src]="youWin" alt="" />
    </div>
  </div>
  <div class="image-container mx-auto" *ngIf="monsterIsAlive">
    <img [src]="gameOver" alt="" />
  </div>
  <button
    class="close-modal btn btn-outline-primary text-white mx-auto"
    #btnCloseModal
    (click)="closeModal()"
  >
    Continue
  </button>
</div>
<div class="overlay hidden" #overlay></div>

<!-- *ngIf="playerIsAlive" -->
