/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.myModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  max-height: 700px;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background: linear-gradient(
    45deg,
    rgba(231, 235, 9, 0.5) 100%,
    rgba(248, 232, 2, 0.5)
  );
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.image-container {
  width: 90%;
  height: 90%;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.image-container img {
  width: 100%;
  width: 100%;
  margin: 0 auto;
}

button {
  font-size: clamp(0.5rem, 0.2368rem + 1.4035vw, 1.5rem);
}
