<section class="banner d-flex justify-content-center align-items-center pt-5">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6" id="inputDifferentSaves">
                <h1 class="text-capitalize py-3 text-white redressed banner-desc text-center"> New Game </h1>
                <div class="list-group merriweather text-center opacity">
                    <a routerLinl="/newGame" class="list-group-item py-3 list-group-item-action text-success"
                        aria-current="true">
                        Start a new Game
                    </a>
                </div>
                <p class="text-center">
                    <button class="btn btn-order btn-lg me-5 mt-5 rounded-0 merriweather" routerLink="/game/choose-player">Start</button>
                </p>
            </div>
        </div>
    </div>
</section>