@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap");

/* class pour gerer la police */
.redressed {
  font-family: "Redressed", cursive;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.background {
  background-image: url("./../../../../assets/arena/Background_stage1_road.png");
  /* doonner une certaine auteur a limage */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.btn-order {
  text-transform: uppercase;
  color: black;
  border-color: black;
  transition: 0.5s ease-in-out;
  max-width: 250px;
}

.btn-order:hover,
.btn-order:active {
  color: black;
  background-color: var(--bs-teal);

  scale: 115%;
}

.affichageFight {
  text-align: center;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  height: 350px;
}

#sceneFight {
  margin: 0 auto;
  width: 80%;
}

.hero-image-container,
.monster-image-container {
  max-height: 180px;
  max-width: 180px;
}

.hero-image-container img {
  width: 100%;
  height: 100%;
}

.monster-image-container img {
  width: 100%;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-teal);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.points-vie {
  font-size: clamp(0.75rem, 0.4868rem + 1.4035vw, 1.75rem);
}

.combat-name {
  font-size: clamp(0.75rem, 0.4211rem + 1.7544vw, 2rem);
}

.progress {
  height: 25px;
}
