
    <header>
        <div class="wrap text-light fs-6 fw-bold">PlayerCard</div>
    </header>
    <div class="layout wrap"*ngIf="curPlayer">
        <div class="card card-weapon">Weapon</div>
        <div class="card card-player-img">Player : {{ curPlayer.namePlayer  }}</div>
        <div class="card card-armor">Armor</div>
        <div class="card card-health">HP</div>
        <div class="card card-money">money</div>
        <div class="card card-experience">xp</div>
        <div class="card card-level">level</div>
        <!-- <div class="card card-h">test</div> -->

    </div>
