<div class="title">PlayerCard</div>
<div class="player_card_container" *ngIf="player">

  <div class="player_equipements">

    <div class="card_equipements">
      <div class="image-container">
        <img [src]="weaponEquipedImg" class="card-img-top" alt="...">
      </div>
      <div class="title">
        <p>{{weaponName}}</p>
      </div>
    </div>

    <div class="card_equipements">
      <div class="image-container">
        <img [src]="playerImg" class="card-img-top" alt="...">
      </div>
      <div class="title">
        <p>{{player.namePlayer}}</p>
      </div>
    </div>

    <div class="card_equipements">
      <div class="image-container">
        <img [src]="armorEquipedImg" class="card-img-top" alt="...">
      </div>
      <div class="title">
        <p>{{armorName}}</p>
      </div>
    </div>
  </div>




  <div class="player_stats">
    <div class="card_stats">
      <div class="image-container">
        <img [src]="hpImg" class="card-img-top" alt="...">
      </div>
      <div class="title">
        <p>{{player.hp}}</p>
      </div>
    </div>

    <div class="card_stats">
      <div class="image-container">
        <img [src]="moneyImg" class="card-img-top" alt="...">
      </div>
      <div class="title">
        <p>{{player.money}}</p>
      </div>
    </div>
    <div class="card_stats">
      <div class="image-container">
        <img [src]="experienceImg" class="card-img-top" alt="...">
      </div>
      <div class="title">
        <p>{{player.experience}}</p>
      </div>
    </div>
    <div class="card_stats">
      <div class="image-container">
        <img [src]="levelImg" class="card-img-top" alt="...">
      </div>
      <div class="title">
        <p>Lvl : {{player.level}}</p>
      </div>
    </div>
  </div>








</div>
