.header{
    background: #1D415C;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    color:#fff;
    padding: 0.8em ;
    margin-bottom:2em;

}
.wrap{
    max-width: 800px;
    margin: 0 auto;
}
.card{
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    border-radius: 4px;
    position: relative;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*----------------------------------------*/

.layout{
    display: grid;

    /*1fr means 1 fraction of the grid*/
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(3, 1fr);
    /*gap to space the elements grid*/
    grid-gap:1em
  
}
.card-player-img{
    /*expands the player grid column from position 2 to 4*/
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.card-weapon{
    grid-row: 1 / 3;
}
.card-armor{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.card-health{
    grid-column: 1 / 2;
}
@media (max-width:800px){
    .card {
        grid-column: span 2;
    }
    .card-player-img{
        grid-column: 1 / 5;
        grid-row:  1 / 2;
    }
    .card-armor{
        grid-column: 1 / 5;
        grid-row:  2 / 3;
    }
    .card-weapon{
        grid-column: 1 / 5;
        grid-row:  3 / 4;
    }
}