<!-- <app-weapon-card></app-weapon-card>

<app-armor-card></app-armor-card> -->

<div>
    <h2>Potions</h2>
    <div *ngIf="player.listePotions; else elseBlock">
        <div class="inventory" *ngFor="let el of player.listePotions">
            <div class="elImage">
                <img [src]="'../../../assets/equipement/potions'+el.iconUrl +'.png'" alt="" (click)="open('Potion',el)">
            </div>
        </div>
    </div>
    <ng-template #elseBlock>II n'y a aucune potion dans l'inventaire.</ng-template>
</div>
<div ngFor=" let el of listImagesArmors">
    <h2>Armors</h2>
    <div *ngIf="player.listArmor; else elseBlock">
        <div class="inventory" *ngFor="let el of player.listArmor">
            <div class="elImage">
                <img [src]="'../../../assets/equipement/armors'+el.iconUrl +'.png'" alt="" (click)="open('Armor',el)">
            </div>
        </div>
    </div>
    <ng-template #elseBlock>II n'y a aucune armor dans l'inventaire.</ng-template>
</div>
<div ngFor="let el of listImagesWeapons">
    <h2>Weapons</h2>
    <div *ngIf="player.listWeapon; else elseBlock">
        <div class="inventory" *ngFor="let el of player.listWeapon">
            <div class="elImage">
                <img [src]="'../../../assets/equipement/weapons'+el.iconUrl +'.png'" alt="" (click)="open('Weapon',el)">
            </div>
        </div>
    </div>
    <ng-template #elseBlock>II n'y a aucune weapon dans l'inventaire.</ng-template>
</div>

<app-modala-equiper></app-modala-equiper>