@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

/* class pour gerer la police */
.redressed {
    font-family: 'Redressed', cursive;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

/* Banniere du haut Profil */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(src\assets\choose-player\battleback1_0.png) center center fixed no-repeat;
    background-size: cover;
    /* doonner une certaine auteur a limage */
    height: 100vh;
}

/*****************************/

/* PARTI navbar du haut */
.cc-navbar {
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Merriweather', sans-serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}

.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;

}

.cc-navbar .nav-link:hover {
    /* quand on va survolé cette navlink */
    padding-bottom: 2px;
    border-bottom-color: white;
}

/*************************************************/
/****************** CARD qui contient  l'image****/
.card {
    background: linear-gradient(45deg,
            rgba(29, 236, 197, 0.5),
            rgba(91, 14, 214, 0.5) 100%);
}

#txtwht {
    color: white;
}

/* Partie CARD SELECTION PERSONNAGE */

.container .card {
    max-width: 300px;
    height: 280px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

#essaiDisplay {
    opacity: 0;
}

#essaiDisplay:hover {
    opacity: 100%;
}



.card:hover {
    height: 450px;
    transition-delay: 0.3s;

}

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px;
    }
}