<section class="banner d-flex justify-content-center align-items-center p-0 mb-0 ">
    <div class="container">
        <div class="row ">
            <div class="cc-menu  col-md-12 merriweather text-center text-light ">
                <h3 class=" ">Nos personnages</h3>
                <div class="card-body text-light text-center">
                    <h5 class="card-title">Choose a character</h5>
                    <p class="card-text">You have the possibility to choice a Male or a Female
                        character</p>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3">
                <div class="card ">
                    <div class="">
                        <form action="src\assets\choose-player\Warrior_F_equiped.png" method="POST" id="form-1">
                            <img src="../Image-Yo/Warrior_F_equiped.png" class="card-img-top" alt="..." id="img-1">
                        </form>
                    </div>
                    <div class="card-body" id="essaiDisplay">
                        <h5 class="card-title text-center">Warrior Female</h5>
                        <p class="card-text">This is a longer card with supporting text below as a

                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card">
                    <img src="../Image-Yo/Warrior_Male_unequiped.png" class="card-img-top" alt="...">
                    <div class="card-body" id="essaiDisplay">
                        <h5 class="card-title text-center">Warior Male</h5>
                        <p class="card-text">This is a longer card with supporting text below as a
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card ">
                    <img src="../Image-Yo/Archer_Female.png" class="card-img-top" alt="...">
                    <div class="card-body" id="essaiDisplay">
                        <h5 class="card-title text-center">Archer Female</h5>
                        <p class="card-text">This is a longer card with supporting text below as a
                            natural lead-in
                            to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="../Image-Yo/Archer_Male.png" class="card-img-top" alt="...">
                    <div class="card-body" id="essaiDisplay">
                        <h5 class="card-title text-center">Archer Male</h5>
                        <p class="card-text">This is a longer card with supporting text below as a
                            natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>