@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');
form{
  
    width: 350px;
   
    height: auto;
   
    position: absolute;
   
    left: 50%;
   
    top: 50%;

    margin-bottom: 30px;
    font-family: 'Merriweather', cursive;
    color: white;
   
    transform: translate(-50%, -50%);
   
    -webkit-transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 120%;

   
    }
    #bimg{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imgRef/fogetpassword.jpeg) center ;
       
        background-repeat: no-repeat;
        background-size: cover;
        /* doonner une certaine auteur a limage */
        height: 1000px;
    }

    h1{
        font-family: 'Redressed', cursive;
        text-align: center;
        color: white;
        font-size: 250%;
        
     }

     
p{
    font-family: 'Redressed', cursive;
    text-align: center;
    color: white;

    font-size: 200%;
    margin-bottom: 100 px;

}
button{
    font-family: 'Merriweather', cursive;
    text-align: center;

}
a{
    color:white;
    text-align: center;
    margin-bottom: 20px;
}

cp{

    text-align: center;
    margin-bottom: 30px;
}

