<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<section class="mail-seccess section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12">
        <!-- Error Inner -->
        <div class="success-inner">
          <h1><i class="fa fa-envelope"></i><span>Envoie de mail ! </span></h1>
          <p>
            Si votre mail: "blabla" existe dans notre base de données un lien
            sera envoyé à votre boite mail
          </p>
          <a routerLink="/login" class="btn btn-primary btn-lg"
            >Retour au login</a
          >
        </div>
        <!--/ End Error Inner -->
      </div>
    </div>
  </div>
</section>
