<!-- =============Modal=============== -->
<div class="myModal hidden text-center" #modal>
  <div
    *ngIf="type == 'Armor'"
    class="d-flex flex-column justify-content-center"
  >
    <div class="image-container mb-4 mx-auto">
      <img
        class=""
        [src]="'../../../assets/equipement/armors' + element.iconUrl + '.png'"
        alt=""
      />
    </div>

    <div class="text-container">
      <p class="text-uppercase">
        <span class="fw-bold">Armor name: </span> {{ element.name }}
      </p>
      <p class="text-dark">
        <span class="fw-bold">Armor protection: </span>{{ element.protection }}
      </p>
      <p class="text-danger">
        <span class="fw-bold">Armor price: </span>{{ element.price }} 💰
      </p>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <div>
        <button
          class="btn btn-success"
          (click)="equipElement('Armor', element.armorId)"
        >
          Equipper
        </button>
      </div>
      <div>
        <button
          class="close-modal btn btn-secondary mx-auto"
          #btnCloseModal
          (click)="closeModal()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="type == 'Weapon'"
    class="d-flex flex-column justify-content-center"
  >
    <div class="image-container mb-4 mx-auto">
      <img
        class=""
        [src]="'../../../assets/equipement/weapons' + element.iconUrl + '.png'"
        alt=""
      />
    </div>

    <div class="text-container">
      <p class="text-uppercase">
        <span class="fw-bold">Weapon name: </span> {{ element.name }}
      </p>
      <p class="text-dark">
        <span class="fw-bold">Weapon damage: </span>{{ element.damage }}
      </p>
      <p class="text-danger">
        <span class="fw-bold">Weapon price: </span>{{ element.price }} 💰
      </p>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <div>
        <button
          class="btn btn-success"
          (click)="equipElement('Weapon', element.weaponId)"
        >
          Equipper
        </button>
      </div>
      <div>
        <button
          class="close-modal btn btn-secondary mx-auto"
          #btnCloseModal
          (click)="closeModal()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="type == 'Potion'"
    class="d-flex flex-column justify-content-center"
  >
    <div class="image-container mb-4 mx-auto">
      <img
        class=""
        [src]="'../../../assets/equipement/potions' + element.iconUrl + '.png'"
        alt=""
      />
    </div>

    <div class="text-container">
      <p class="text-uppercase">
        <span class="fw-bold">Potion name: </span> {{ element.name }}
      </p>
      <p class="text-dark">
        <span class="fw-bold">Points restaurés: </span>{{ element.hpRestore }}
      </p>
      <p class="text-danger">
        <span class="fw-bold">Potion price: </span>{{ element.price }} 💰
      </p>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <div>
        <button
          class="btn btn-success"
          (click)="consumatePotion('Potion', element.potionId)"
        >
          Equipper
        </button>
      </div>
      <div>
        <button
          class="close-modal btn btn-secondary mx-auto"
          #btnCloseModal
          (click)="closeModal()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
<div class="overlay hidden" #overlay></div>
