/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.myModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background-color: RGB(155, 199, 75);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

html,
body {
  height: 100%;
}

.image-container {
  width: 40%;
  height: auto;
  background-color: rgb(99, 76, 0);
  border: 3px solid #1d415c;
  border-radius: 5px;
}

.image-container img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
